<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
<header>
    <h1>Contacto</h1>
    <nav> 
        <ul>
            <li> 
                <a href="../index.html"> Inicio </a>
            </li>
            <li> 
                <a href="../views/shop.html">Shop</a>
            </li>
            <li>
                 <a href="../views/tutoriales.html">Tutoriales</a>
                </li>
            <li> 
                <a href="../views/sobremi.html">Sobre mí</a>
            </li>
            <li>
                 <a href="../views/contacto.html">Contacto</a>
            </li>
        </ul>
        <a href="../views/iniciosesion.html">Iniciar sesión</a>
    </nav>
</header>
<main>
    <form action="">
        <fieldset>
            <legend>Llená los campos para contactarme</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            <label for="asunto">Asunto</label>
            <input type="text" name="asunto" id="asunto" placeholder="Asunto">
            <label for="correo">Correo</label>
            <input type="email" name="correo" id="correo" placeholder="tucorreo@example.com">
            <label for="mensaje">Mensaje</label>
            <textarea placeholder= "Escribí tu mensaje acá"></textarea>
            <input type="submit"  value="Enviar">
        </fieldset>
        </form>
</main>
<footer>
    <p>
        By ARTEjer | <a href="mailto:info@artejer.com">Email de contacto</a>| <a href="https://www.instagram.com/" target="_blank">Instagram</a> | <a href="https://www.facebook.com/ARTEjer44" target="_blank">Facebook</a>
    </p>
</footer>

</body>
</html>

