<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/shop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,300;0,400;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="../img/artejer.png">
    <title>Shop</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html" ><img src="../img/artejer.png" alt="logo de artejer"></a>
        </div>
         <div> 
         <nav> 
            <ul class="menu">
                <li> 
                    <a href="../index.html"> Inicio </a>
                </li>
                <li> 
                    <a href="../views/shop.html">Shop</a>
                    <div class="subMenu">
                                <ul>
                                    <li>
                                        <a href="#">Todos los productos</a>
                                        </li>
                                    <li>
                                        <a href="#">Tops</a>
                                    </li>
                                    <li>
                                        <a href="#">Amigurumis</a>
                                    </li>
                                    <li>
                                        <a href="#">Decoración</a>
                                    </li>
                                </ul>
                    </div>
                </li>
                <li>
                    <a href="../views/tutoriales.html">Tutoriales</a>
                </li>
                <li> 
                    <a href="../views/sobremi.html">Sobre mí</a>
                </li>
                <li>
                    <a href="../views/contacto.html">Contacto</a>
                </li>
            </ul>   
         </nav>
        </div>  
        <div class="navSesion">
            <a href="views/iniciosesion.html" class="sesion" ><i class="fa-solid fa-user"></i></a>
        </div>

       </header>    

<main>
    <div class="listaFiltros">

        <div class="filtroCategorias" >
            <section>
                <h4>Categorías</h4>
                <ul>
                    <li>
                        <a href="#">Todos los productos</a>
                    </li>
                    <li>
                        <a href="#">Tops</a>
                    </li>
                    <li>
                        <a href="#">Amigurumis</a>
                    </li>
                    <li>
                        <a href="#">Decoración</a>
                    </li>
                </ul>
                <div class="abajo">
                    <h4> Color</h4>
                    <input type="checkbox" name="colores" id="multicolor" value="Multicolor">
                    <label for="multicolor">Multicolor</label>
                    <input type="checkbox" name="colores" id="rojo" value="Rojo">
                    <label for="rojo">Rojo</label>
                    <input type="checkbox" name="colores" id="blanco" value="Blanco">
                    <label for="blanco">Blanco</label>
                    <input type="checkbox" name="colores" id="rosa" value="Rosa">
                    <label for="rosa">Rosa</label>
                    <input type="checkbox" name="colores" id="negro" value="Negro">
                    <label for="negro">Negro</label>
                    <input type="checkbox" name="colores" id="marron" value="Marrón">
                    <label for="marron">Marrón</label>
                    <input type="checkbox" name="colores" id="naranja" value="Naranja">
                    <label for="naranja">Naranja</label>
                </div>
            </section>

        </div>
        <div class=" img">

            <section class="productos">
                <div class="card">
                    <img class= "oscuro" src="../img/deco/posavasos.jpg" alt="posavasos tejidos">
                    <h3>Posavasos</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
                <div class="card">
                    <img src="../img/tops/colorido.jpg" alt="top muchos colores">
                    <h3>Top multicolor</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
                <div class="card">
                    <img src="../img/tops/shop-top2.jpg" alt="top blanco">
                    <h3>Top Blanco</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
                <div class="card">
                    <img src="../img/tops/toprosa.jpg" alt="top rosa">
                    <h3>Top Rosa</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
                <div class="card">
                    <img src="../img/amig/Harrypotteramigurumi.jpg" alt="personaje Harry Potter">
                    <h3>Harry Potter</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
                <div class="card">
                    <img src="../img/amig/groot.jpg" alt="personaje Groot">
                    <h3>Groot</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
                <div class="card">
                    <img src="../img/deco/sandia.jpg" alt="sandia agarradera">
                    <h3>Agarradera sandía</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
                <div class="card">
                    <img src="../img/amig/fox.jpg" alt="zorro tejido">
                    <h3>Zorro</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
                <div class="card">
                    <img src="../img/deco/crochet_1.png" alt="colgante tejido">
                    <h3>Atrapasueños</h3>
                    <p>$0,00</p>
                    <a href="#">Comprar</a>
                </div>
            </section>
        </div>
    </div>
</main>
<div class="footer-bg">
    <footer>
        <div class="aContacto">
            <i class="fa-regular fa-envelope"></i>
                <h2>¿Querés enviarme un mensaje?
                </h2>
               <p>Hacé click <span><a href="../views/contacto.html">acá</a></span> y pronto me contactaré.</p>
        </div>
        <div class="icon-size">
            <p>
                <a href="mailto:info@artejer.com"><i class="fa-solid fa-envelope"></i></a> <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>  <a href="https://www.facebook.com/ARTEjer44" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </p>
        </div>

       </footer>
</div>

</body>
</html>