<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoriales</title>
</head>
<body>
    <header>
        <h1>Tutoriales</h1>
        <nav> 
            <ul>
                <li> 
                    <a href="../index.html"> Inicio </a>
                </li>
                <li> 
                    <a href="../views/shop.html">Shop</a>
                </li>
                <li>
                     <a href="../views/tutoriales.html">Tutoriales</a>
                    </li>
                <li> 
                    <a href="../views/sobremi.html">Sobre mí</a>
                </li>
                <li>
                     <a href="../views/contacto.html">Contacto</a>
                </li>
            </ul>
            <a href="../views/iniciosesion.html">Iniciar sesión</a>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, suscipit voluptates doloremque eligendi, aliquid non voluptate nesciunt laborum, itaque autem fugit excepturi repudiandae natus ipsa doloribus. Pariatur laborum molestias quidem.</p>
    <section>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TAt3EYwKKH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
   
<section>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VLFReMh7Zy0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
   
<section>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MKXXoA40TKY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
   
</main>

<footer>
    <p>
        By ARTEjer | <a href="mailto:info@artejer.com">Email de contacto</a>| <a href="https://www.instagram.com/" target="_blank">Instagram</a> | <a href="https://www.facebook.com/ARTEjer44" target="_blank">Facebook</a>
    </p>
</footer>

</body>
</html>